<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cqebd.student.vo">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application>
<!--		<service-->
<!--			android:name="cqebd.student.service.ClassService"-->
<!--			android:enabled="true"-->
<!--			android:exported="false" />-->

		<receiver android:name="cqebd.student.receiver.WifiBroadcastReceiver">
			<intent-filter>
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>

	</application>

</manifest>